@import '~antd/dist/antd.css';
html,
body {
  width: 100%;
  height: 100%;
  .App {
    margin: 0 auto 0;
    width: 75%;
    height: 75vh;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 10px 28px 8px #0000000d;
    overflow: hidden;
    .editor {
      width: 100%;
      height: 91%;
    }
  }
}
